/*Définition des polices personnalisées*/
@font-face {
	font-family: 'robotoblack';
	src: url('webagency_images/web fonts/roboto_black_macroman/Roboto-Black-webfont.eot');
	src: url('webagency_images/web fonts/roboto_black_macroman/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('webagency_images/web fonts/roboto_black_macroman/Roboto-Black-webfont.woff2') format('woff2'),
	url('webagency_images/web fonts/roboto_black_macroman/Roboto-Black-webfont.woff') format('woff'),
	url('webagency_images/web fonts/roboto_black_macroman/Roboto-Black-webfont.ttf') format('truetype'),
	url('webagency_images/web fonts/roboto_black_macroman/Roboto-Black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('webagency_images/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
	src: url('webagency_images/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('webagency_images/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff2') format('woff2'),
	url('webagency_images/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
	url('webagency_images/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
	url('webagency_images/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('webagency_images/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
	src: url('webagency_images/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('webagency_images/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
	url('webagency_images/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
	url('webagency_images/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
	url('webagency_images/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Eléments principaux de la page*/
body
{
	width: 100%;
	margin:  0px auto;
	padding: 0px;
	text-align: center;
}
/* RESPONSIVE*/
@media screen and (max-width: 480px){
	body{
		width: 100%;
	}
}
@media screen and (min-width:481px) and (max-width:639px){
	body{
		width: 100%;
	}
}
@media screen and (min-width:640px) and (max-width:810px){
	body{
		width: 100%;
	}
}
@media screen and (min-width: 811px) and (max-width: 959px){
	body{
		width: 100%;
	}
}
@media screen and (min-width: 960px) and (max-width: 1600px)
{
	body{
		width: 100%;
		margin:  0px auto;
		padding: 0px;
		text-align: center;
	}
}/*FIN RESPONSIVE*/

/* -------- HEADER -------- */
.zone_menu
{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	top:0px;
	margin: 0px;
	background-color: white;
	z-index: 20;
	background-size: cover;
}
header h1
{
	font-family:'RobotoBlack';	
}
h1 span{
	color: #1AADD6;
}
header
{
	position: fixed;
	z-index: 20;	
	width: 100%;
	height: 100px;
	top: 0px;
}
header nav ul
{
	text-decoration: none;
	list-style-type: none;
	display: flex;
	padding: 7px 250px 5px 80px;
}
header nav li
{
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	margin-right: 30px;
	padding-top: 25px; 
}
header nav a
{
	font-family: 'robotoregular';
	color: black;
	text-decoration: none;
}
header nav li:hover
{
	font-weight: bold;
	border-top: 3px solid #1AADD6;
	padding-top: 22px;
}
#logo
{
	padding: 7px 0px 9px 185px;
}
/*RESPONSIVE*/
@media screen and (max-width: 480px){
	.zone_menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	header nav{
		margin-bottom: 10px;
		margin-left: 15px;
	}
	header nav ul
	{
		text-decoration: none;
		list-style-type: none;
		display: flex;
		padding: 0px;
		margin: 0px;
	}
	#logo{
		width: 100%;
		justify-content: center;
		padding: 7px 0px 7px 0px;
	}
	header nav li
	{
		padding-top: 15px;
		justify-content: center;
		margin-right: 15px; 
	}
	header nav li:hover
	{
		padding-top: 12px;
	}
}
@media screen and (min-width:481px) and (max-width:639px){
	.zone_menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	header nav{
		margin-bottom: 10px;
	}
	header nav ul
	{
		text-decoration: none;
		list-style-type: none;
		display: flex;
		padding: 0px;
		margin: 0px;
	}
	#logo{
		width: 100%;
		justify-content: center;
		padding: 7px 0px 7px 0px;
	}
	header nav li
	{
		padding-top: 18px;
		justify-content: center; 
	}
	header nav li:hover
	{
		padding-top: 15px;
	}
}
@media screen and (min-width: 640px) and (max-width: 810px){
	.zone_menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	header nav{
		margin-bottom: 10px;
	}
	header nav ul
	{
		text-decoration: none;
		list-style-type: none;
		display: flex;
		padding: 0px;
		margin: 0px;
	}
	#logo{
		width: 100%;
		justify-content: center;
		padding: 7px 0px 7px 0px;
	}
	header nav li
	{
		padding-top: 18px;
		justify-content: center; 
	}
	header nav li:hover
	{
		padding-top: 15px;
	}
}
@media screen and (min-width: 811px) and (max-width: 959px){
	.zone_menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	header nav{
		margin-bottom: 10px;
	}
	header nav ul
	{
		text-decoration: none;
		list-style-type: none;
		display: flex;
		padding: 0px;
		margin: 0px;
	}
	#logo{
		width: 100%;
		justify-content: center;
		padding: 7px 0px 7px 0px;
	}
	header nav li
	{
		padding-top: 18px;
		justify-content: center; 
	}
	header nav li:hover
	{
		padding-top: 15px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1600px){
	.zone_menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	header nav{
		margin-bottom: 10px;
	}
	header nav ul
	{
		text-decoration: none;
		list-style-type: none;
		display: flex;
		padding: 0px;
		margin: 0px;
	}
	#logo{
		width: 100%;
		justify-content: center;
		padding: 7px 0px 7px 0px;
	}
	header nav li
	{
		padding-top: 18px;
		justify-content: center; 
	}
	header nav li:hover
	{
		padding-top: 15px;
	}
}
/*FIN RESPONSIVE*/
/* -------- SLIDER ------- */

#webagency{
	position: absolute;
	top: 280px;
	z-index: 3;
	font-size: 90%;
}
.slider_image 
{
	width: 100%;
	height: auto;
	margin: 0px;
	background-size: cover;
	margin-top: 100px;
	position: relative;
}
.slider_image img
{
	width: 100%;
	position: relative;
}
#slider1
{
	width: 100%;
	height:auto;
	position: absolute;
	z-index: 1;
}
#slider2
{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
	display: inline-block;	
}
.bouton_slide
{
	bottom: 40%;
	display: flex;
	position: absolute;
	z-index: 9;	
}

.bouton_slide.right
{
	right: 0px;
}
#fleche_gauche 
{
	font-size: 25px;
	display: flex;
	z-index: 5;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	width: 35px;
	height: 70px;
	border-radius: 0px 70px 70px 0px;
	color: white;
	background-color: black;
	opacity: 0.6;
	position: relative;
}
#fleche_droite
{
	font-size: 25px;
	display: flex;
	z-index: 6;
	bottom: 300px;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	left: 1530px;
	width: 35px;
	height: 70px;
	border-radius: 70px 0px 0px 70px;
	color: white;
	background-color: black;
	opacity: 0.6;
}
.bouton_slide a
{
	text-decoration: none;
}
#trait_navigation
{
	position: absolute;
	bottom: 2px;
	border-top: 3px solid #1AADD6;
	width: 150px;
	z-index: 10;
	margin-bottom: 2px;
}
#slogan{
	font-family: 'robotomedium',sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	width: 50%;
	height: auto;
	z-index: 10;
	top: 25%;
	left: 10%;
	color: white;
	text-align: left;
}
#slogan p{
	font-family: 'robotoregular',sans-serif;
	font-size: 0.8em;
}

.bouton_bleu
{
	font-family: 'robotomedium';
	display: inline-block;
	border: solid #1AADD6;
	margin-top: -10%;
	padding: 3px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #1AADD6;
	text-decoration: none;
	color: white;
}
.bouton_bleu a{
	text-decoration: none;
	color: white;
}
h1 
{
	text-align: left;
	margin: 0px;
}
/*RESPONSIVE*/
@media screen and (max-width: 480px){
	#slider1{
		display: none;
	}
	.slider_image img{
		width: 100%;
		height: 200px;
	}
	#fleche_gauche{
		font-size: 10px;
		width: 20px;
		height: 40px;
	}
	#fleche_droite{
		font-size: 10px;
		width: 20px;
		height: 40px;
	}
	#slogan{
		top: 14%;
	}
	#slogan h1{
		font-size: 0.7em;
}
	#slogan p{
		font-size: 0.5em;
	}
}
	
@media screen and (min-width: 481px) and (max-width: 639px){
	.slider_image img
	{
		width: 100%;
	}
	.slider_image 
	{
		width: 100%;
		height: auto;
		top: 0px;
		background-size: cover;
		position: relative;
	}
	#slogan{
		font-size: 0.7em;
		width: 80%;
	}

	.bouton_slide{
		bottom: 30%;
	}
}
@media screen and (min-width: 640px) and (max-width: 810px){
	#slogan h1{
		font-size: 0.8em;
}
	#slogan p{
		font-size: 0.6em;
	}
}
@media screen and (min-width: 811px) and (max-width: 959px){
	#slogan h1{
		font-size: 0.8em;
}
	#slogan p{
		font-size: 0.6em;
	}
}
@media screen and (min-width: 960px) and (max-width: 1600px){
	#slogan{
		font-size: 1.1em;
	}
}
/*FIN RESPONSIVE*/

/* ------- SECTION SERVICES -------- */

#nos_services
{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	position: relative;
	text-align: center;
}
#service /*titre*/
{	
	font-family: 'robotomedium';
	font-size: 1.9em;
	display: flex;
	justify-content: center;
	text-align: center;	
	margin-top: 10px;
	margin-bottom: 15px;
}
.deco_titre 
{
	display: flex;
	position: relative;
	justify-content: center;
	padding-bottom: 5px;	
}
hr /*trait gris sous les titres*/
{
	background-color: #E6E1E1;
	height: 1px;
	border: none;
	width: 120px;
	margin-top: 1px;
}
i.point_titre{
	display: flex;
	justify-content: center;
	position: absolute;
	font-size: 0.7em;
	border-radius:100%;
	color: #1AADD6;	
	top: -5px;
}
.point{ /*rond bleu text design*/
	display: flex;
	justify-content: center;
	text-align: center;
	position: absolute;
	margin-left: 35px;
	margin-top: 34px;
	font-size: 0.7em;
	border-radius:100%;
	color: #1AADD6;	
}
.tour_blancA /*Bordure rond blanc sous les titres*/
{
	background-color: white;
	border: 1px solid white;
	border-radius: 100%;
	padding: 4px;
	position: absolute;
	margin-top: -3px;
	font-size: 0.8em;
}
.tour_blancB /*Bordure blanche icones text design*/
{
	background-color: white;
	border: 1px solid white;
	border-radius: 100%;
	padding: 4px;
	position: absolute;
	margin-top: 34px;
	font-size: 0.8em;
}
.paragraphe 
{
	font-family: 'robotoregular';
	text-align: center;	
	margin-top: -5px;
}
/* -- ASIDE -- ECRAN + TEXT DESIGN -- */
#aside_design
{
	display: flex;
	
}
#aside_design img
{
	padding-right: 110px;

}
#bloc_left
{
	display: inline-block;
	width: 50%;
	margin-top: 30px;
}
#bloc_right
{
	display: inline-block;
	width: 50%;

}
.screen_right{
	
	display: flex;
	flex-direction: column;
	padding-right: 15%;
	overflow: auto;
	text-align: justify;
}
.screen_right li
{
	list-style-type: none;
}
.icones
{
	position: relative;
	color: #1AADD6;
}
.graphique
{
	padding: 10px 10px;/*pour créer l'arrondi*/
	top: 22px;
	font-size: 20px;
	border: 1px solid #E6E1E1;
	border-radius: 100%;/*pour avoir un cercle*/
	position: absolute;
	left: 2px;	
}
.text_design
{
	margin-left: 50px;
}
.text_design h3
{
	font-family: 'robotomedium';
	font-weight: bold;
	margin-left: 50px;
}
.text_design p
{
	font-family: 'robotoregular';
	margin-left: 50px;
	margin-top: -15px;	
}
/*RESPONSIVE*/
@media screen and (max-width: 480px){
	#bloc_left, #bloc_right
	{
		width: 100%;
	}
	#aside_design{
		flex-direction: column;
	}
	#aside_design img{
		width: 50%;
		text-align: center;
		padding-right: 0px;
		align-self: center;
	}
	.screen_right{
		display: flex;
		flex-direction: column;
		padding: 0px;
		margin-right: 50px;
		margin-left: -50px;
		overflow: auto;
		flex-wrap: wrap;
	}
	.screen_right ul{
		padding: 0px;
		justify-content: center;
	}
	.icones{
		display: none;
		margin-top: 0px;
		margin-left: 20px;
	}	
}
@media screen and (min-width:481px) and (max-width:639px){
	#bloc_left, #bloc_right
	{
		width: 100%;
	}
	#service{
		font-size: 1.5em;
	}
	#aside_design{
		flex-direction: column;
	}
	#aside_design img{
		width: 50%;
		text-align: center;
		padding-right: 0px;
		align-self: center;
	}
	.screen_right
	{
		display: flex;
		width: 90%;
		flex-direction: row;
		margin-left: -30px;
		overflow: auto;
		text-align: justify;
		flex-wrap: wrap;
		padding-right: 0px;
	}
	.screen_right ul{
		padding: 0px;
		justify-content: center;
	}
	.icones{
		margin-top: 0px;
		margin-left: 20px;
	}
}
@media screen and (min-width: 640px) and (max-width: 810px){
	#bloc_left, #bloc_right
	{
		width: 100%;
	}
	#aside_design{
		flex-direction: column;
	}
	.screen_right
	{
		display: flex;
		width: 80%;
		flex-direction: row;
		padding-right: 80px;
		margin-left: -30px;
		overflow: auto;
		text-align: justify;
		flex-wrap: wrap;
	}
	#aside_design img{
		width: 50%;
		justify-content: center;
		text-align: center;
		padding-right: 0px;
		align-self: center;
	}
}
/*FIN RESPONSIVE*/

/* -------- SECTION PROJETS -------- */

#nos_projets
{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	position: relative;
	text-align: center;
}
#projet /*titre*/
{	
	font-family: 'robotomedium';
	font-size: 1.9em;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;	
}
.hidden{
	display: none;	
}
#menu{
	position: relative;
}
.menu_lien{
	position: relative;
}
.menu_lien a {
	display:flex;
	color: black;
	font-family: 'robotoregular';
	background-color: #E6E1E1;
	text-decoration: none;
}


#menu li .menu_lien_ouvert a{
	background-color: #1AADD6;
	color: white;
	text-decoration: none;
	font-family: 'robotoregular';
	border: 5px solid #1AADD6;
	border-bottom: 5px solid #2D9FC4;
	padding: 5px 10px 1px 10px;
	align-items: center;
}
#menu li:hover .menu_lien_ouvert a{
	padding: 5px 10px 1px 10px;
}
.menu_lien_ouvert{
	margin-top: 26px;
}
.menu_lien_ouvert:hover{
	margin-top: 16px;
}
#menu ul
{
	display: flex;
	list-style-type: none;
	justify-content: center;
	margin-top: 40px;
	padding: 5px 10px 5px 10px;
}
#menu a
{
	border: solid #E6E1E1;
	font-size: 18px; 
	text-align: center;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: #E6E1E1;
	color: black;
	padding: 5px 10px 5px 10px;
}
#menu ul a:hover
{
	text-decoration: none;
	display: inline-block;
	border: 5px solid #1AADD6;
	margin: 0;
	background-color: #1AADD6;
	border-collapse: collapse;
	border-bottom: 5px solid #2D9FC4;
	color: white;
	padding: 5px 8px 1px 8px;	
}
.fleche_bas
{
	opacity: 0;
	position: absolute;	
	top: 30px;
}
.menu_lien:hover .fleche_bas
{
	opacity: 1;
	display: flex;
	color: #1AADD6;
	margin-left: 33px;
	margin-top: 3px;
}
#menu li .menu_lien_ouvert a .fleche_bas{
	opacity: 1;
	color: #1AADD6;
	margin-left: -42px;
	margin-top: 24px;
	
}
#cadre_gris
{
	background-color: #F5F5F5;
	width: auto;
}
#projets_photos
{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-right: 2px;
	margin-top: 5px;
}
#projets_photos img
{
	display: block;
	width: 100%;
	position: relative;
}
#projets_photos figure 
{
	width: 20%;
	display: inline-block;
	position: relative;
	margin-right: 5px;
	align-content: space-between;
}
#projets_photos figure:hover figcaption
{
	display: block;
}
#projets_photos figcaption 
{
	position: absolute;
	display: none;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 15px;
	height: 40px;
	background-color: rgba(0,0,0,0.3);
	font-family: 'robotomedium';
	font-size: 0.8em;
	color: white;
}
#projets_photos h3
{
	position: absolute;
	top: -5px;
	left: 15px;
	font-family: 'robotomedium';
	font-weight: bold;
	color: white;	
}
figure.portfolio 
{
	display: block;
	position: relative;
	text-align: left;
}
figure.creative
{
	text-align: left;
}
figure.corporate
{
	text-align: left;
}
.eye{
	position: absolute;
	color: white;
	background-color: #1AADD6;
	border: 3px solid white;
	border-radius: 100%;
	padding: 6px;
	bottom: 50px;
	right: 10px;
}
figure.portfolio:hover figcaption
{
	display: block;
	
}
/*RESPONSIVE*/
@media screen and (max-width: 480px){
	#cadre_gris{
		margin-right: 0px;
	}
	#projet{
		padding: 0px;
	}
	#menu{
		margin-bottom: 5px;
		width: 100%;
		display: inline-flex;
		justify-content: center;
	}
	#menu a{
		font-size: 13px;
		text-align: center;
		margin: 0px;
	}
	#menu ul{
		margin-top: 0px;
		text-align: center;
		padding: 0px;
	}
	.menu_lien:hover .fleche_bas
{
	opacity: 1;
	display: flex;
	color: #1AADD6;
	margin-left: 25px;
	margin-top: -2%;
}
	#menu li .menu_lien_ouvert a .fleche_bas{
	opacity: 1;
	color: #1AADD6;
	margin-left: -30px;
	margin-top: 15px;
	
}
	
	.hidden{
		display: block;
		margin: 0px;
		font-family: 'robotoregular';
		font-size: 2.2em;
		
	}
	#projets_photos figcaption{
		font-size: 0.7em;
		bottom: 9px;
	} 
	#projets_photos figure 
{
	width: 80%;
	display: inline-block;
	position: relative;
	margin: 0px;
	padding-bottom: 10px;
	align-content: space-between;
}
	.photos{
		
		background-repeat: no-repeat;
		width: 100%;
		background-position: center;
		margin-bottom: 10px;
	}
}
@media screen and (min-width:481px) and (max-width:639px){
	#menu ul{
		margin-top: 0px;
	}
	#projets_photos figure{
		width: 40%;
	}
	#projets_photos figcaption{
		font-size: 0.6em;
		align-items: center;
		padding: 22px;
	} 
	#projets_photos h3
	{
		top: -5px;
		left: 20px;
	}
	.eye{
		bottom: 60px;
	}
}
@media screen and (min-width: 640px) and (max-width: 810px){
	#projets_photos figure{
		width: 40%;
	}
	#menu ul{
		margin-top: 0px;
	}
	
}
/*FIN RESONSIVE*/

/* -- FOOTER -- */

footer
{
	position: relative;
}
#carte
{
	position: relative;
	max-width: 100%;
	height: auto;
	opacity: 0.7;	
}
iframe
{
	width: 100%;
}
#filtre_bleu 
{
	position: absolute;
	background-color: #1aadd6;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}
#formulaire
{
	position: absolute;
	text-align: left;
	width: 280px;
	height: 480px;
	top:30px;
	right:100px;
	background-color: #e2e2e2;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'robotomedium';
	opacity: 0.9;
}
#formulaire p{
	line-height: 3px;
	font-family: 'robotoregular';
}
p span
{
	border-bottom: dotted;
}
input{
	margin-bottom: 3px;
	margin-top: 8px;
	width: 95%;
	padding:4px;
}
textarea {
	width: 95%;
	height: 130px;
	padding: 5px;
}
.send a{

	display: inline-block;
	border: 1px solid #1AADD6;
	margin-top: 3px;
	padding: 12px;
	background-color: #1AADD6;
	text-decoration: none;
	border-bottom: 5px solid #2D9FC4;
	color: white;
}
/*RESPONSIVE*/
@media screen and (max-width: 480px){
	#formulaire{
		width: 70%;
		justify-content: center;
		right: 0px;
		left: 50px;
	}
}

/*Responsive -- Media queries -- 5 points de rupture*/

/*Pour écrans <480px*/
/*Pour écrans entre 481px et 639px*/
/*Pour écrans entre 640px et 810px*/
/*Pour écrans entre 811px et 959px*/
/*Pour écrans entre 960px et 1600px*/



